nav {
  display: inline;
  float: right;
}

#second_word {
  color: #808080;
}

a {
  text-decoration: none;
  color: #696969;
}

.logo {
  display: inline;
  vertical-align: middle;
}

header {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 15px;
  background-color: #F5FFFA;
}

body {
  font-family: sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

.border_1 {
  display: inline-grid;
  width: 16px;
  background-color: #66CDAA;
  height: 100%;
  float: right;
  z-index: 0;
}

.border_2 {
  display: inline-grid;
  width: 16px;
  background-color: #66CDAA;
  height: 100%;
  float: right;
  z-index: 0;
}

.border_3 {
  display: inline-grid;
  width: 16px;
  background-color: #66CDAA;
  height: 100%;
  float: right;
  z-index: 0;
}

.start {
  background-color: #DCDCDC;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

button {
  background-color: #808080;
  padding: 8px 130px;
  margin-top: 15px;
  color: #F5F5F5;
  font-size: 16px;
}

.start_right {
  display: inline-block;
  align-items: flex-end;
  vertical-align: top;
  top: 50%;
}

#losung_1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #696969;
}

#losung_2 {
  color: #696969;
}

.banner {
  width: 60%;
  padding: 24px;
}

.practique {
  background-color: #F5FFFA;
}

#keep {
  font-size: 36px;
  color: #696969;
}

.banner_2 {
  margin-top: 48px;
  width: 800;
}

.ciat {
  font-size: 18px;
  color: #696969;
}

.ciater {
  font-size: 16px;
  color: #696969;
}

.practique {
  padding: 24px;
}

.figure {
  position: relative;
  display: inline-block;
  color: #1E90FF;
  text-decoration: none;
}

.left {
  float: left;
  display: inline-block;
  padding: 20px;
}

.text {
  position: relative;
  display: inline-block;
  margin: 14px;
  height: 170px;
  width: 150px;
  padding: 40px;
}

.general {
  float: left;
}
